{% extends 'base/base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
{% endblock %}

{% block 'body' %}

<div class="container-fluid bg-inscricao">

    <div class="row">        
        <div class="col-md">
            <h3 class="logo">Type.Event</h3>
            {% include "partials/usuarios/cadastro.html" %}
            <img src="{% static 'geral/img/logo.png' %}" class="logo-evento">
        </div>

        <div class="col-md bg-img">

        </div>

    </div>
</div>

{% endblock %}